{% extends 'custom/base.html' %}
{% load static %}
{% block title %}Adicionar Prefactura{% endblock %}

{% block link %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}"
                         class="img-responsive" width="400" height="300" style="border-radius: 10%">
                {% else %}
                    <img src="{% static 'assets/seed-icon-free-vector.jpg' %}"
                         class="img-responsive" width="400" height="300" style="border-radius: 10%">
                {% endif %}
            </div>
            <div class="col-8">
                <h1 class="text-light">{{ producto.semilla.nombre }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if almacen %}
                    <form class="p-lg-5" method="POST">
                        {% csrf_token %}
                        <br>
                        <div class="mb-3">
                            <p class="text-light">Lugar de recogida</p>
                            {{ formPrefactura.lugar_recogida }}
                        </div>
                        <div class="mb-3">
                            <p class="text-light">Cantidad a comprar (Lb)</p>
                            {{ formPrefactura.cantidad }}
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary px-5 mb-5">Crear Prefactura</button>
                        </div>
                        {% if cantidad_existente %}
                            <div class="alert alert-danger" role="alert">
                                Cantidad del producto sobrepasa la cantidad existente.
                            </div>
                        {% endif %}
                        {% if es_persona_natural %}
                            <div class="alert alert-danger" role="alert">
                                Una persona natural no puede comprar mas de 100 Lb de un producto en menos de 24 horas
                            </div>
                        {% endif %}
                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        No existen almacenes
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}