{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>SeedTrak</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-5/css/bootstrap.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'semilla.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'semilla.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'semilla.png' %}">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet"/>

</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
         data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href=""><span
                class="text-light fs-2 fw-bold ms-2">SeedTrak</span></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2"><a class="nav-link fw-bold active" aria-current="page"
                                                 href="#collections">SEMILLAS</a></li>
                    <li class="nav-item px-2"><a class="nav-link fw-bold" href="#store">HISTORIA</a></li>
                    <li class="nav-item px-2"><a class="nav-link fw-bold" href="#contact">REDES</a></li>
                </ul>
                <form class="d-flex"><a class="text-primary" href="">
                    <svg class="feather feather-phone-call" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                    </svg>
                </a>
                    <div class="ms-4 text-light fw-bold">1 (800) 862 6772</div>
                </form>
            </div>
        </div>
    </nav>
    <section class="py-0" id="header">
        <div class="bg-holder"
             style="background-image:url({% static 'assets/img/gallery/' %});">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row align-items-center min-vh-75 min-vh-xl-100">
                <div class="col-md-8 col-lg-6 text-md-start text-center">
                    <h1 class="display-1 lh-sm text-uppercase text-light">Variedad de Semillas<br
                            class="d-none d-xxl-block"/>para la siembra</h1>
                    <div class="pt-4"><a class="btn btn-sm btn-outline-primary me-3"
                                         href="{% url 'login' %}">LOGIN</a><a
                            class="btn btn-sm btn-outline-primary" href="{% url 'register' %}">REGISTRO</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-black py-8 pt-0" id="store">
        <div class="bg-holder"
             style="background-image:url({% static 'assets/img/gallery/store-bg.pn' %});background-position:left bottom;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container-lg">
            <div class="row flex-center">
                <div class="col-6 order-md-0 text-center text-md-start"></div>
                <div class="col-sm-10 col-md-6 col-lg-6 text-center text-md-start">
                    <br>
                    <div class="carousel slide carousel-fade" id="carouselExampleFade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Historia</h5>
                                        <p class="my-4 pe-xl-5">En sus primeros años, se centró
                                            principalmente en la producción de semillas para los cultivos básicos, como
                                            el arroz, el maíz y el trigo, y distribuía sus semillas a los agricultores a
                                            precios razonables. Con el tiempo, comenzó a expandir su gama
                                            de productos y a invertir en investigación y desarrollo para mejorar la
                                            calidad y la resistencia de sus semillas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-0 pb-6" id="collections">
        <div class="container">
            <div class="row h-100">
                <div class="col-lg-7 mt-7">
                    <h5 class="fs-3 fs-lg-5 lh-sm mb-0 text-uppercase">Collección</h5>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-latest" role="tabpanel"
                         aria-labelledby="nav-latest-tab">
                        <div class="carousel slide" id="carouselLatest" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <div class="row h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 192</h6>
                                                    <h4 class="text-light">SEMILLAS DE PAPAYA</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 37:2007</h6>
                                                    <h4 class="text-light">SEMILLAS DE LECHUGA </h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 36:2007</h6>
                                                    <h4 class="text-light">SEMILLAS DE PEREJIL</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="row h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 57:2007</h6>
                                                    <h4 class="text-light">SEMILLAS DE PIMIENTO Y AJI</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 56:2007</h6>
                                                    <h4 class="text-light">SEMILLAS DE TOMATE</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 40:2007</h6>
                                                    <h4 class="text-light">SEMILLAS BOTANICAS DE CEBOLLA</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="3000">
                                    <div class="row h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 102:2009</h6>
                                                    <h4 class="text-light">SEMILLAS AGAMICAS DE CEBOLLA</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 111:2009</h6>
                                                    <h4 class="text-light">SEMILLAS DE MAIZ</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                            <div class="card bg-black text-white p-6 pb-8">
                                                <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                                    <h6 class="text-primary">NRAG 112:2009</h6>
                                                    <h4 class="text-light">SEMILLAS DE MAIZ</h4>
                                                </div>
                                                <a class="stretched-link" href=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselLatest" data-bs-slide="prev"><span
                                            class="carousel-control-prev-icon" aria-hidden="true"></span><span
                                            class="visually-hidden">Previous</span></button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselLatest" data-bs-slide="next"><span
                                            class="carousel-control-next-icon" aria-hidden="true"></span><span
                                            class="visually-hidden">Next </span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->

    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->

    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 pt-7" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4 col-xl-3 mb-3">
                    <h4 class="lh-lg fw-bold text-light">SEEDTRAK</h4>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 mb-3">
                    <h5 class="lh-lg fw-bold text-light">MENÚS</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="">Panel
                            de Control</a></li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="">Productos</a>
                        </li>
                        <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold" href="">Prefacturas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 col-xl-3 mb-3">
                    <h5 class="mb-5"></h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="text-800 text-decoration-none text-uppercase fw-bold"
                                             href="/admin/login/?next=/admin/">Administración</a></li>
                    </ul>
                </div>
            </div>
            <div class="border-bottom border-700"></div>
            <div class="row flex-center my-3">
                <div class="col-md-6 order-1 order-md-0">
                    <p class="my-2 text-800 text-center text-md-start"> Hecho con&nbsp;
                        <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                             fill="#EB6453" viewBox="0 0 16 16">
                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                        </svg>&nbsp;por&nbsp;<a class="text-500" href=""
                                                target="_blank">SeedTrak </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="text-center text-md-end"><a href="#!"><span class="me-4" data-feather="facebook"></span></a><a
                            href="#!"> <span class="me-4" data-feather="instagram"></span></a><a href="#!"> <span
                            class="me-4" data-feather="youtube"></span></a><a href="#!"> <span class="me-4"
                                                                                               data-feather="twitter"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'js/bootstrap-5/js/bootstrap.js' %}"></script>
<script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
<script>
    feather.replace();
</script>
<script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>