{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Registro</title>
    <link rel="icon" type="image/x-icon" href="{% static 'semilla.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-5/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center text-light mt-5">SeedTrak</h1>
            <div class="card my-2">

                <form class="p-lg-5" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        <img src="{% static 'semilla.png' %}" width="200px">
                        <h2 class="text-light">Registro</h2>
                    </div>
                    <div class="mb-3">
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.password1 }}
                    </div>
                    <div class="mb-3">
                        {{ form.password2 }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5 mb-5 w-100">Registrarse</button>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Verifique sus credenciales
                        </div>
                    {% endif %}
                    <div id="emailHelp" class="form-text text-center mb-5 text-light">
                        Registrado? <a href="{% url 'login' %}" class="text-light fw-bold">Login</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="{% static 'js/bootstrap-5/js/bootstrap.js' %}"></script>
<script>
    var id_username = document.getElementById('id_username');
    var id_password1 = document.getElementById('id_password1');
    var id_password2 = document.getElementById('id_password2');
    id_username.classList.add("form-control");
    id_username.placeholder = "Nombre de usuario";
    id_password1.classList.add("form-control");
    id_password1.placeholder = "Contraseña";
    id_password2.classList.add("form-control");
    id_password2.placeholder = "Confirmar Contraseña";
</script>
</body>
</html>