{#estadisticas_chabge_list_template#}
{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}
{% load admin_urls %}

{% block extrastyle %}
    {{ block.super }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
    {% if action_form %}{% if actions_on_top or actions_on_bottom %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function ($) {
                    $("tr input.action-select").actions();
                });
            })(django.jQuery);
        </script>
    {% endif %}{% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
{% block object-tools %}
    <div class="btn-group float-right">
        <a href="pdf/estadisticas/" class="btn btn-outline-info ">
            <i class="fa fa-file"></i> &nbsp; Estadísticas
        </a>
        {{ block.super }}
    </div>
{% endblock %}