{% load static %}

{% block page_title %}

{% endblock %}



{% block page_header %}
    <table>
        <tbody>
        <tr>
            <td class="img">
                <img src=""
                     alt="Logo">
                <h2>Seed Trak</h2>
                <h3>Municipio: Pinar del Río</h3>
            </td>
            <td class="name">
                <p>Fecha: {{ data }}</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 style="text-align: center">Ventas por lugar de compra</h1>
{% endblock %}


{% block content %}
    <table border="1">
        <thead>
        <tr>
            <td colspan="5">{{ lc }}</td>
        </tr>
        <tr>
            <td>No.</td>
            <td>Cliente</td>
            <td>Lugar de Compra</td>
            <td>Fecha</td>
            <td>Prefactura</td>
        </tr>
        </thead>
        <tbody>
        {% if ventas %}
            {% for i in ventas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.prefactura.cliente }}</td>
                    <td>{{ i.lugar_compra }}</td>
                    <td>{{ i.fecha }}</td>
                    <td>{{ i.prefactura }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No existen ventas</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <style type="text/css">
        thead tr td {
            font-weight: bold;
        }

        td {
            text-align: center;
            padding: 3px;
        }

        .img {
            width: 150px;
            height: 150px;
            text-align: left;
        }

        .name {
            text-align: right;
        }
    </style>
{% endblock %}