{% load static %}

{% block page_title %}

{% endblock %}



{% block page_header %}
    <table>
        <tbody>
        <tr>
            <td class="img">
                <img src=""
                     alt="Logo">
                <h2>Seed Trak</h2>
                <h3>Municipio: Pinar del Río</h3>
            </td>
            <td class="name">
                <p>Fecha: {{ data }}</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 style="text-align: center">Reporte de ventas por producto</h1>
{% endblock %}


{% block content %}
    <table border="1">
        <thead>
        <tr>
            <td colspan="6">{{ producto.semilla.codigo }} {{ producto.semilla.nombre }}</td>
        </tr>
        <tr>
            <td>No.</td>
            <td>Lugar de Compra</td>
            <td>Fecha</td>
            <td>Prefactura</td>
            <td>Almacen</td>
            <td>Recaudado</td>
        </tr>
        </thead>
        <tbody>

        {% if ventas %}
            {% for i in ventas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.0.lugar_compra }}</td>
                    <td>{{ i.0.fecha }}</td>
                    <td>{{ i.0.prefactura }}</td>
                    <td>{{ i.0.prefactura.almacen }}</td>
                    <td>{{ i.1 }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6"> No existen</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {{ p }}
    <style type="text/css">
        thead tr td {
            font-weight: bold;
        }

        td {
            text-align: center;
            padding: 3px;
        }

        .img {
            width: 150px;
            height: 150px;
            text-align: left;
        }

        .name {
            text-align: right;
        }
    </style>
{% endblock %}